albumentations==0.5.2
pyyaml>=5.1
webcolors~=1.12
tensorboard
tqdm~=4.65.0
ensemble-boxes
timm
omegaconf
pycocotools
gdown==3.13.0
numpy~=1.23.5
torch~=2.0.0
matplotlib~=3.7.1
opencv-python~=4.7.0.72
torchvision~=0.15.1
Pillow~=9.4.0
scipy~=1.9.1
PyQt5~=5.15.9
seaborn==0.12.2
gitpython==3.1.31
Flask==2.1.1
uvicorn==0.18.3